{% extends 'base_riorges.html.twig' %}

{% block title %}Hello CaveRiorgesController!{% endblock %}

{% block body %}
<div id="header_cave">CAVE</div>

<div id="cave">
{% for categorie in categories %}
    <pre>
        {{ dump(categorie.image.name) }}
    </pre>
<img src="/categories/{{categorie.image.name}}" alt="">

{% endfor %}
</div>
{% endblock %}
