{% extends 'base.html.twig' %}

{% block title %}Brasserie VIP - Mentions légales du site
{% endblock %}
{% block body %}
	<div id="content">

		<div>
			<div>
				<div 
					<p>
						<strong>
							<span style="font-size:14px;">
								<span style="font-family: arial,helvetica,sans-serif;">Mentions légales du site
								</span>
							</span>
						</strong>brasserie-vip.com</p>

					<p>&nbsp;</p>

					<p>&nbsp;</p>

					<p>
						<span style="font-family:arial,helvetica,sans-serif;">Ce site est édité par :
						</span>Votre Instant Plaisir<br>
						<span style="font-family:arial,helvetica,sans-serif;">SARL<font color="#ff0000">&nbsp;</font>au capital&nbsp; de 275 000€<br>
							établie au&nbsp;</span>59 Chemin de Pompey - 42800 Genilac<br>
						<span style="font-family:arial,helvetica,sans-serif;">Immatriculée au Registre des commerces et des sociétés sour le numéro&nbsp;</span>831 787 064 00011<br>
						<span style="font-family:arial,helvetica,sans-serif;">N° TVA :
						</span>FR23831787064<br>
						<span style="font-family:arial,helvetica,sans-serif;">Tél :</span>04 77 35 24 26<br>
						<span style="font-family:arial,helvetica,sans-serif;">E-mail :</span>contact@brasserie-vip.com</p>

					<p>
						<span style="font-family: arial, helvetica, sans-serif;">Directeur de la publication :Sébastien Véniant</span>
					</p>

					<p>&nbsp;</p>


					<p>
						<span style="font-family:arial,helvetica,sans-serif;">
							<span style="font-size: 12px;">Hébergeur: SAS OVH<br>
								2 rue Kellermann - 59100 Roubaix - France.</span>
						</span>
					</p>

					

					<p>
						<span style="font-size:14px;">
							<strong>Droits d'auteur et responsabilité</strong>
						</span>
					</p>

				

					<p>
						<span style="font-size:12px;">Tous les textes, images, vidéos, graphismes, logo, icônes, et contenus présents sur le site
						</span>Brasserie VIP<span style="font-size:12px;">&nbsp;sont la propriété de la société
						</span>Votre Instant plaisir<span style="font-size:12px;">
							<span style="color: rgb(255, 0, 0);">.</span>
						</span>
					</p>

					<p>
						<span style="font-size:12px;">Sauf en cas d'autorisation formelle écrite et préalable, la reproduction ainsi que toute utilisation des contenus du site
						</span>Brasserie VIP<span style="font-size:12px;">&nbsp;autre que la consultation individuelle et privée sont interdites.</span>
					</p>

					<p>
						<span style="font-size:12px;">Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</span>
					</p>

					

					<p>
						<span style="font-size:12px;">Le site Brasserie VIP</span>
						<span style="font-size:12px;">&nbsp;a pour objet de fournir une information concernant l’activité de la société. Sebastien Véniant s’efforce de fournir des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Toutes les informations indiquées sur le site
						</span>Brasserie VIP<span style="font-size:12px;">
							sont données à titre indicatif, et sont susceptibles d’évoluer.</span>
					</p>

					<p>&nbsp;</p>

					

					<p>
						<strong>
							<span style="font-size:14px;">Informations personnelles et libertés</span>
						</strong>
					</p>

				
					<p>
						<span style="font-size:12px;">Les informations recueillies font l’objet d’un traitement informatique et sont nécessaires à la gestion de la transaction et au bon déroulement du processus de commande sur le site Brasserie VIP</span>
						<span style="font-size:12px;">. Le destinataire des données est uniquement le site
						</span>Brasserie VIP<br>
						<span style="font-size:12px;">Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à
						</span>contact@brasserie-vip.com<span style="font-size:12px;">&nbsp;<br>
							Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</span>
					</p>

					<p>&nbsp;</p>

					<p>&nbsp;</p>
				</div>
			</div>
		</div>
		<div class="core_content_right"></div>
	</div>
</div>{% endblock %}
