/* BODY */

body body.light-mode {
    margin: 0;
    padding: 0;
    background-color: #cecece;
    color: #303030;
    font-family: 'Barlow';
    --dark-background: white;
    transition: all 0.3s;
    --color-link: black;
}

#content {
    padding: 60px 0;
    width: 100%;
    margin: auto;
    width: 70vw;
    transition: all 0.3s;
}


/* DARK MODE */

body.dark-mode {
    color: #eee;
    --color-link: #white;
    background: rgb(61 67 75);
    --dark-background: rgb(42 46 50);
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body.light-mode {
        margin: 0;
        padding: 0;
        background-color: #cecece;
        color: #303030;
        font-family: "Barlow";
        --dark-background: white;
        --color-link: black;
    }
    body {
        color: #eee;
        background: rgb(61 67 75);
        --dark-background: rgb(42 46 50);
        --color-link: #white;
        margin: 0;
        padding: 0;
        font-family: "Barlow";
        transition: all 0.3s;
    }
}

#carte {
    padding: 20px;
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 5%);
    background-color: var(--dark-background);
    box-sizing: border-box;
    overflow: hidden;
}

#content-title {
    text-align: center;
    color: rgb(231, 79, 15);
    font-size: 70px;
    font-weight: 700;
    font-family: 'Averta-Black', sans-serif;
}

#container-title {
    color: rgb(231, 79, 15);
    font-size: 40px;
    font-weight: 700;
}

#table-left {
    width: 50%;
    float: left;
}

.transtition {
    transition: 10s;
}

h1 {
    overflow: hidden;
    white-space: nowrap;
}

#table-right {
    width: 50%;
}

p {
    margin: 0;
}

td {
    padding: 5px 10px;
}

td.new {
    padding: 5px 0;
    vertical-align: top;
}

.prix {
    vertical-align: top;
    font-weight: 900;
}

#td-prix-bieres {
    width: 40%;
}


/* .article {
width: 300px;
} */

td.new>div {
    background-color: rgb(231, 79, 15);
    color: white;
    padding: 5px;
    font-weight: 700;
}

tr.new::before {
    content: "NEW";
    display: table-cell;
    background-color: red;
}


/* CAVE */

#header_cave {
    background-image: url(https://www.brasserie-vip.com/images/Image/cave%20bandeau.jpg);
    height: 245px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#header_cave:after {
    background: radial-gradient(circle, rgba(0, 0, 0, .45) 0%, rgba(0, 0, 0, .7) 100%);
}

#cave {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    margin: auto;
}

.flex {
    display: flex;
}

.titre_produit {
    font-weight: 900;
    font-size: 1.7rem;
}

.nav-items {
    font-family: 'Averta-Black', sans-serif;
    text-align: center;
    width: 1%;
    height: 100%;
    color: white;
    font-size: 30px;
    line-height: 70px;
    font-weight: 800;
    background-color: #f6b133;
}

.nav-items.active {
    color: #7a1e23;
    background-color: #f6b133;
    transition: 0.5s;
}

#moving-bar {
    height: 5px;
    background-color: #7a1e23;
    position: absolute;
    transition: 0.5s;
    left: 280px;
}

.description_produit {
    font-style: italic;
}


/* SKATE */

#animation_skate {
    animation-name: skate;
    /* animation-iteration-count: infinite; */
    animation-duration: 4s;
    animation-direction: normal;
    position: relative;
    bottom: 100px;
}

@keyframes skate {
    from {
        width: 50%;
        opacity: 0;
        transform: rotate(40deg);
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#skate {
    background-color: var(--dark-background);
    /* text-align: center; */
    font-family: 'Averta-Black', sans-serif;
    padding: 10px;
}

#flex_skate {
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
}


/* LOADER */

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loader {
    z-index: 9999;
    position: absolute;
    left: 280px;
    background-color: var(--dark-background);
    right: 0;
    /* width: fit-content; */
    height: 180%;
    text-align: center;
    transition: 1s;
}

#loader img {
    animation-name: load;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    margin-top: 280px;
}


/* VINS */

.cl_vins {
    background-color: black;
    color: white;
    transform: rotate(-20deg);
    padding: 0;
    text-align: center;
    padding: 0 10px;
    /* display: inline-block; */
    margin-right: 20px;
    font-size: 15px;
    position: absolute;
    line-height: 15px;
}

.titre_vins {
    color: rgb(231, 79, 15);
    font-weight: 700;
    margin: 10px 0;
    font-size: 22px;
}


/* COEUR */

.heart {
    display: inline-block;
    width: 200px;
    aspect-ratio: 1;
    border-image: radial-gradient(rgb(231, 79, 15) 69%, #0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    width: 40px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: white;
}

td.heart {
    padding: 0;
}

@media all and (max-width:1790px) {
    .nav-items {
        font-size: 25px;
    }
}

@media all and (max-width:1625px) {
    #table-left {
        width: 100%;
        float: left;
    }
    #table-right {
        width: 100%;
    }
    .prix {
        text-align: right;
        font-size: 20px;
    }
    .titre_produit {
        font-size: 25px;
    }
    .produit {
        font-size: 20px;
    }
    .nav-items {
        font-size: 22px;
    }
}

@media all and (max-width:1410px) {
    .nav-items {
        font-size: 20px;
        line-height: 60px;
    }
    #nav-bar-carte {
        height: 60px
    }
}

@media all and (max-width:1320px) {
    .nav-items {
        font-size: 18px;
        line-height: 55px;
    }
    #nav-bar-carte {
        height: 55px
    }
}

@media all and (max-width:1160px) {
    .nav-items {
        font-size: 20px;
        line-height: 50px;
    }
    #nav-bar-carte {
        height: 50px
    }
    ;
    .titre_produit {
        font-size: 25px;
    }
    .produit {
        font-size: 20px;
    }
}


/* BASE */


/* MOBILE */

#header_mobile_icon,
#header_mobile {
    display: none;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* FOOTER */

#footer ul {
    list-style-type: none;
}

.lien_footer {
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#footer_top {
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    background-color: #212121;
    font-size: 0.625em;
    line-height: 1.5;
    justify-content: space-between;
}

#footer {
    padding: 0;
    background-color: #000;
    border-top-style: none;
    font-weight: 500;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
}

#footer_bottom {
    padding: 20px 0;
    border-bottom-style: none;
    text-align: center;
    font-size: 12px;
    height: 30px;
    vertical-align: middle;
    margin: auto;
}


/* HEADER */

#header-top {
    background-color: brown;
    margin-left: 280px;
    color: white;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.lien_socials {
    text-decoration: none;
    color: #ffa200;
}

#header_search {
    margin-left: auto;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--dark-background);
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
}

#header_top,
#main,
#footer,
#main_container {
    padding-left: 280px;
}

#header_menu {
    text-decoration: none;
    transition: all 0.3s;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 3px;
    font-weight: 900;
    text-align: center !important;
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

#header_menu a {
    text-decoration: none;
}

#menu-link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#link:hover,
.lien_socials:hover {
    color: #7a1e23;
    text-shadow: none;
}

#link {
    padding: 10px 10px;
    color: var(--color-link);
    display: inline-block;
}

#header_clickncollect {
    line-height: 50px;
    text-align: center;
    height: 50px;
    background-color: #f6b133;
    color: #fff !important;
    transition: all 0.3s;
}

#header_clickncollect:hover {
    background-color: #7a1e23;
}

#socials {
    margin: 10px 0;
    padding: 20px 0 0 0;
    border-top: black 1px solid;
}


/* HAPPY HOUR */

#Happy-Hour,
#Happy-Hour1,
#Happy-Hour-timer {
    font-size: 30px;
    margin-right: 20px;
}

#Happy-Hour,
#Happy-Hour1,
#Happy-Hour-timer {
    font-size: 30px;
    margin-right: 20px;
}


/* NAV-BAR */

#header_icons a {
    display: inline-block;
    font-size: 13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.svg_header_top {
    vertical-align: middle;
}

#header_icons div:hover {
    background-color: #f6b133 !important;
    transition: 1s;
}

#header_icons {
    display: flex;
    align-items: center;
}

#header_icons div[id^='icon'] {
    display: inline-block;
    font-size: 13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.svg_header_top {
    vertical-align: middle;
}

#header_icons div:hover {
    background-color: #f6b133 !important;
    transition: 0.5s;
}

#header_icons {
    display: flex;
    align-items: center;
}

#map {
    position: absolute;
    z-index: 2;
    height: 100px;
    background-color: white;
    top: 70px;
}

#map::before {
    content: "";
    background: #fff;
    width: 10px;
    height: 10px;
    display: block;
    -webkit-transform: rotate( 45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg);
    position: absolute;
    top: -5px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
}

#nav-bar-carte {
    text-align: center;
    width: 100%;
    height: 70px;
    font-weight: 800;
    font-size: 25px;
    border-spacing: 0;
}

@media all and (max-width:1160px) {
    #footer {
        padding-left: 0;
    }
    .header-left {
        display: none;
    }
    #loader {
        left: 0px;
    }
    .menu-btn {
        display: flex;
    }
    #main_container {
        padding: 0;
    }
    #header-top {
        margin: 0;
    }
    #content {
        padding: 20px 0;
        width: 100%;
        margin: auto;
        width: 90vw;
    }
    #moving-bar {
        left: 0px;
    }
    #header_mobile_icon {
        display: block;
    }
    #header_mobile {
        position: absolute;
        display: block;
        transition: 1s;
        left: -280px;
        z-index: 1;
        width: 280px;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        background-color: var(--dark-background);
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
    }
    #header_clickncollect_mobile {
        line-height: 50px;
        text-align: center;
        height: 50px;
        background-color: #f6b133;
        color: #fff !important;
        transition: all 0.3s;
    }
    #header_mobile a div {
        margin-top: 10px
    }
    #header_mobile a {
        text-decoration: none;
        font-weight: 900;
    }
}


/* SWITCH */

:root {
    /** sunny side **/
    --blue-background: #C2E9F6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
}

.toggle--checkbox {
    display: none;
}

.toggle--checkbox:checked~.background {
    background: var(--indigo-background);
}

.toggle--checkbox:checked+.toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
    /** Change the cloud to stars **/
    /** Change the sun into the moon **/
    /** Show the dimples on the moon **/
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background {
    left: 60px;
    width: 5px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:before {
    width: 5px;
    height: 5px;
    top: -25px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:after {
    width: 5px;
    height: 5px;
    left: -30px;
    top: 20px;
}

.toggle--checkbox:checked+.toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

.toggle--checkbox:checked+.toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
}

.toggle--label {
    /** Placeholder element, starting at blue **/
    width: 200px;
    height: 100px;
    background: var(--blue-color);
    border-radius: 100px;
    border: 5px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    /** The sun cloud and moon stars **/
    /** Sun/Moon element **/
    /** Gray dots on the moon **/
}

.toggle--label-background {
    width: 10px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: 135px;
    top: 45px;
    transition: all 150ms ease-in;
}

.toggle--label-background:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -20px;
    transition: all 150ms ease-in;
}

.toggle--label-background:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -10px;
    transition: all 150ms ease-in;
}

.toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 82px;
    height: 82px;
    border: 5px solid var(--yellow-border);
    top: 4px;
    left: 4px;
    position: absolute;
    border-radius: 82px;
    background: var(--yellow-background);
}

.toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: "";
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
    left: 143px;
    top: 23px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
}

@keyframes switch {
    0% {
        left: 4px;
    }
    60% {
        left: 4px;
        width: 112px;
    }
    100% {
        left: 104px;
        width: 82px;
    }
}

@keyframes reverse {
    0% {
        left: 104px;
        width: 82px;
    }
    60% {
        left: 72px;
        width: 112px;
    }
    100% {
        left: 4px;
    }
}


/* FONT */

@import url(//db.onlinewebfonts.com/c/2568bb80f5521d55c8c0d536d5bfa5cf?family=Averta-Black);
@font-face {
    font-family: "Averta-Black";
    src: url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.eot");
    src: url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.woff") format("woff"), url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2568bb80f5521d55c8c0d536d5bfa5cf.svg#Averta-Black") format("svg");
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/barlow/BarlowCondensed-Bold.otf);
}