/* BASE */

#footer {
    background-color: #000;
    border-top-style: none;
    font-weight: 500;
    color: #fff;
}

#footer_bottom {
    padding: 20px 0;
    border-bottom-style: none;
    text-align: center;
    font-size: 12px;
    height: 30px;
    vertical-align: middle;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    color: #303030;
    font-family: 'Raleway', sans-serif;
}

#header-top {
    background-color: brown;
    margin-left: 280px;
    color: white;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#header_search {
    margin-left: auto;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}

#header_icones a {
    display: inline-block;
    font-size: 13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.svg_header_top {
    vertical-align: middle;
}

#header_icones a:hover {
    background-color: #f6b133 !important;
}

#header_icones {
    display: flex;
    align-items: center;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
}

#header_top,
#main,
#footer,
#main_container {
    padding-left: 280px;
}

#content {
    padding: 60px 0;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

#header_menu {
    text-decoration: none;
    transition: all 0.3s;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 3px;
    font-weight: 900;
    text-align: center !important;
    color: #fff !important;
}

#header_menu a {
    text-decoration: none;
}

#menu-link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#link:hover {
    color: #7a1e23;
    text-shadow: none;
}

#link {
    padding: 10px 10px;
    color: black;
    display: inline-block;
}

#header_clickncollect {
    line-height: 50px;
    text-align: center;
    height: 50px;
    background-color: #f6b133;
    color: #fff !important;
    transition: all 0.3s;
}

#header_clickncollect:hover {
    background-color: #7a1e23;
}